VK_TOKEN=vk1.a.TKPBsE8qrFqpsRroZkn1zOf1Av7i8lJ-LG4te8MVGhcRqpQUdVeo3JIqaffGdg-fifYQeJ3EGySkxsUAOIWhdZZelQHe1GF0AQDr-v-yTBRFy-AA2rQFFxabjjAmYC-tnYqxYV7AAoqbvfvbFu_q0kJagAPS8ua8gvBaDh1bk176PzT-r3H3UbfQ49c8axjNflQC2iaRM_DEjNawD_ODLA
VK_GROUP_ID=211148420
